.searchBarWrapper {
  display: flex;
}

.searchBarWrapper > div {
}

.searchBarWrapper .statesDropdown {
  flex: 1.2;
}
.searchBarWrapper .searchBoxWrapper {
  flex: 14.8;
}
.searchBarWrapper .saleRentToggle {
  flex: 1.8;
}
