.downPaymentToggle button {
  background-color: rgb(255, 255, 255);
  color: rgb(210, 214, 218);
  height: 33px;
  line-height: 33px;
  text-align: center;
  width: 32px;
  margin-left: 8px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(210, 214, 218);
  border-image: initial;
  border-radius: 2px;
  outline: none;
  font-size: 12px;
}

.downPaymentToggle {
  display: flex;
  width: 80px;
  flex-direction: row;
}
.downPaymentToggle button.selected {
  color: rgb(16, 142, 233);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(16, 142, 233);
  border-image: initial;
}
